* {
    box-sizing: border-box;
    font-family: Roboto, "sans-serif";
}
body {
    width: 600px;
    height: 900px;
    
}
main {
    width: 600px;
    background-color: #E5E5E5;
    display: flex;
    height: 100%;
}

header {
    
    width: 600px;
    height: 80px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    padding: 0 22px 0 22px;

}
header img {
    width: 75px;
    height: 53px;
}
header ion-icon {
    font-size: 43px;
}

footer {
    width: 600px;
    height: 80px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding: 0 22px;
    align-items: center;
    position:fixed;
    bottom: 0;
    left: 0;
}
footer ion-icon {
    font-size: 26px;
}
footer .mensagem {
    height: 30px;
    width: 145px;
}