* {
    box-sizing: border-box;
    font-family: Roboto, "sans-serif";
}
body {
    width: 375px;
    height: 670px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    
}
body .main {
    width: 100%;
    height: 100%;
    background-color:#F3F3F3;
    display: flex;
    flex-direction: column; 
}

header {
    
    width: 375px;
    height: 80px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    padding: 0 22px 0 22px;
    margin-bottom: 20px;

}
header img {
    width: 75px;
    height: 53px;
}
header ion-icon {
    font-size: 43px;
}

.main .container-mensagens {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    padding: 20px 2px 5px 2px;
    margin-top: 60px;
    overflow-y: scroll;
}
.main .container-mensagens ul {
    display: flex;
    flex-direction: column;
}

.main .container-mensagens .mensagem li{
    width: 100%;
    min-height: 35px;
    height: fit-content;
    margin: 3px 0;
    display: flex;
    flex-wrap: wrap;
}
.mensagem .status {
    background-color: #DCDCDC;
}
.mensagem .message {
    background-color: white;
}
.message .privado {
    background-color: #FFDEDE;
}
.mensagem li .time {
    color:#AAAAAA;
}
.mensagem li .remetente {
    font-weight: 700;
}

footer {
    width: 100%;
    min-height: 80px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding: 0 22px;
    align-items: center;
    position:fixed;
    bottom: 0;
    left: 0;
    position:relative;
   
}
footer ion-icon {
    font-size: 26px;
    position: absolute;
    right: 20px;
}
footer .escrita {
    height: 30px;
    width: 145px;
}

::placeholder {
    font-style: italic;
    font-weight: 400;
    color: black;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    border: none white;
}